.flex-test{
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.item-1{
    background-color: lightblue;
}

.item-2{
    background-color: lightpink;
}