.back-button{
    margin-right: 6px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
}

.pages-numbers{
    margin-left: 4px;
    margin-right: 4px;
    font-size: 18px;
}

.next-button{
    margin-left: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
}