.shadow-button{
    padding: 8px 12px;
    background-color: green;
    color: white;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 3px 9px rgb(154, 154, 154); 
}

.shadow-button:active{
    margin-left: 4px;
    margin-top: 4px;
    box-shadow: none;
}