.stretch-button{
    background-color: green;
    border: none;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;

    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    margin-left: 10px;

    transition: padding 0.15s,
    margin 0.15s;
}

.stretch-button:hover{
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 0px;
    margin-left: 0px;
}

