p{
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtitles{
    color: rgb(84, 84, 84);
    font-size: 14px;
    margin-bottom: 7px;
    margin-top: 7px;
}

.linkedin-email{
    font-size: 16px;
    width: 400px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.agree-join{
    margin-top: 20px;
    background-color: rgb(104, 149, 255);
    border: none;
    padding: 14px 130px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    cursor: pointer;
}