  .profile-picture{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 1000px;
    margin: 0px 0px;
    vertical-align: middle;
  }

.tweet-comment{
    border: none;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    margin-left: 7px;
    padding: 8px 8px;
    width: 300px;
}  
  
  .tweet-button {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    vertical-align: middle;
  }