p {
    font-family: Arial;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
}

.new{
    font-size:14px;
    font-family: Arial;
    color: rgb(210, 132, 7);
}

.macbook{
    font-size: 20px;
    font-weight: 700;
    color: rgb(42, 42, 42);
}

.supercharged{
    font-size: 32px;
    font-weight: 700;
    color: rgb(42, 42, 42);
}

.price{
    color: rgb(40, 40, 40);
}

.buy-button{
    margin-top: 12px;
    margin-left: 230px;
    background-color: rgb(104, 149, 255);
    border: none;
    padding: 8px 16px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: 700;
}